.Game-Board{
    margin: 30px 0 0 30px;
    width: 500px;
    height: 500px;
    display:grid ;
    grid-gap: 25px;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    box-shadow: #ccc;
}

.Board-Cell{
    border: 2px solid #ccc;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-weight: 900;
    
}

h1{
    font-size: 50px;
    font-weight: 800;
    margin: 30px;
    color: rgb(52, 138, 63);
}

.Reset-game{
    margin: 30px;
    font-size: 30px;
    border: solid 2px black;
    padding: 10px;
    background-color: #612288;
    color: white;
    font-weight: 600;

}
.Board-Cell.is-X{
    color: rgb(36, 36, 189);
}

.Board-Cell.is-O{
    color: rgb(231, 63, 2);
}